@import "tailwindcss";

@theme {
    --color-color1: #e9e7d1;
    --color-color2: #d7bd78;
    --color-color3: #eb3e64;
    --color-color4: #6fcec6;
    --color-color5: #f3d20b;
    --color-color6: #f57f04;
    --color-color7: #a5dc74;
    --color-color8: #c2c4af;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(16, 16, 16);
    position: relative;
    /* فقط، بدون z-index */
}

.bg-noise {
    position: fixed;
    inset: 0;
    z-index: -1;
    /* خليها خلف الكل */
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.bg-noise::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -50%;
    width: 300%;
    height: 300%;
    background-image: url('http://momentsingraphics.de/Media/BlueNoise/WhiteNoiseDithering.png');
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.06;
    animation: noise 8s steps(10) infinite;
    pointer-events: none;
    user-select: none;
}

.noise {
    position: absolute;
    inset: 0;
    pointer-events: none;
    /* background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGZpbHRlciBpZD0ibm9pc2UiPjxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbCIgbnVtT2N0YXZlcz0iMTAwIiBiYXNlRnJlcXVlbmN5PSIwLjgiLz48L2ZpbHRlcj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IndoaXRlIiBmaWx0ZXI9InVybCgjbm9pc2UpIi8+PC9zdmc+"); */
    background-image: url('http://momentsingraphics.de/Media/BlueNoise/WhiteNoiseDithering.png');
    background-repeat: repeat;
    background-size: 200px 200px;
    mix-blend-mode: overlay;
    /* animation: noise 1s steps(8, end) infinite; */
    z-index: 1;
}

@keyframes noise {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0%);
    }

    70% {
        transform: translate(0%, 15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}


@keyframes noise {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0%);
    }

    70% {
        transform: translate(0%, 15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}